src/test/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.1">

    <xs:complexType name="Foo">
        <xs:sequence>
            <xs:element name="bar" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="baz" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>